# Virtual Environment
venv/
Backend/venv/
ENV/
*.env

# Python
**/__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Qdrant Local Storage
**/qdrant_storage/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Data & Credentials
calendar_credentials.json
Backend/**/data/*.json
Backend/Mr\ UpLinker/*.json
Backend/Mr\ UpLinker/commits.json
!Backend/Mr\ UpLinker/server.py


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?